/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map, #gmap {
height: 500px;
width: 100%;
}

#gdir {
	float: left;
	height: 459px;
	overflow: auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-tabs>li {
    margin-left: -5px;
}
.playlist{
	color:blue;
}